.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .clickable
  {
    cursor: pointer;
  }

  .user-name
  {
    font-size: 15px;
  }