
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>App</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Amount" [(ngModel)]="model.amount" required type="number">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Price" [(ngModel)]="model.price"  required type="number">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dp" placeholder="Date" [(ngModel)] = "model.date" required>
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="createRecord()">Save</button>
  </div>
  <mat-list role="list" >
    <mat-list-item role="listitem" *ngFor="let record of records | async"> {{record.amount}} </mat-list-item>
  </mat-list>
</div>
